<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>CSE308 - TEAM BATS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Angularjs-->
        <script type="text/javascript" src="./node_modules/angular/angular.js"></script>
        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--Angularjs ui bootstrap libraries-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.js"></script>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="./node_modules/angular-aria/angular-aria.js"></script>
        <script src="./node_modules/angular-animate/angular-animate.js"></script>
        <script src="./node_modules/angular-messages/angular-messages.js"></script>
        <script src="./node_modules/angular-material/angular-material.js"></script>
        <!--Angularjs chart libraries-->
        <script src="./node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="./node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
        <!--Index.html stylesheet and leaflet sidebar stylesheet-->
        <link rel="stylesheet" href="./css/index.css"/>
        <link rel="stylesheet" href="./css/leaflet-sidebar.css"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
        <!-- Leaflet UI on Angular things -->
        <script src="./js/ui-leaflet.min.js"></script>
        <script src="./node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script type="text/javascript" src="./js/leaflet-sidebar.js"></script>
        <!--app.js which is linked to both index.html and state.html-->
        <script type="text/javascript" src="./app.js"></script>

    </head>

    <div ng-app="uiBootstrap"  class = "top-nav-bar">

        <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
        <!-- The actual modal is here -->
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Register!</h3>
                </div>

                <div ng-app="forms" ng-controller="registerController">
                    <form novalidate class="simple-form">
                        <label>Name: <input type="text" ng-model="user.name" /></label><br />
                        <label>Username: <input type="text" ng-model="user.userName" /></label><br />
                        <label>Password: <input type="password" ng-model="user.password" /></label><br />
                        <label>E-mail: <input type="email" ng-model="user.email" /></label><br />
<!--
                  <input type="button" ng-click="reset()" value="Reset" />
                  <input type="submit" ng-click="update(user)" value="Save" />
-->
                    </form>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.register()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </div>
            </script>
            <!-- SecondModal -->
            <script type="text/ng-template" id="loginModal.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Login!</h3>
                </div>
                <div ng-app="forms" ng-controller="loginController">
                    <form novalidate class="simple-form">
                        <label>Username: <input type="text" ng-model="user.userName" /></label><br />
                        <label>Password: <input type="text" ng-model="user.password" /></label><br />
                    </form>
                    <div class="modal-footer">
                        <a href ng-click="$ctrl.registerlink()">Not Registered?</a>
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.login()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </div>
            </script>
            <!-- Back to the base code -->
            <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Register</button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.openlogin()">Login</button>
        </div>
        <!-- tabs-->
        <div ng-controller="uiBootstrapController">
            <uib-tabset id="tabset" active="active">
                <uib-tab index="0" heading="Home">
                    <!-- This section should cover the map  -->
                    <div ng-app="map" ng-controller="mapController">
                        <h1>Map Goes here</h1>
                        <!-- dropdown-->
                        <div class="btn-group" uib-dropdown>
                            <button id="btn-append-to-single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                              States <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                              <li role="menuitem"><a href="./ma-state.html">Massachusetts</a></li>
                              <li role="menuitem"><a href="./ar-state.html">Arkansas</a></li>
                              <li role="menuitem"><a href="./ct-state.html">Connecticut</a></li>
                            </ul>
                          </div>
	                   <!-- /dropdown-->

                        <leaflet id="map" name="map" center="US"= defaults="defaults" geojson="geojson" width="100%" height="600px"></leaflet>
                    </div>
                </uib-tab>
                <uib-tab name="acctab" index="1" heading="Account" disable="true">
                </uib-tab>
                <uib-tab index="2" heading="About" disable="tab.disabled">
                    <h1>Congressional District Generation</h1>
                    <h2>Background</h2>
                    <p>A Gerrymander is a voting district that is designed to serve some political purpose.
                      The name refers to both a salamander and Eldridge Gerry, whose newly created voting district about 200 years
                      ago was said to resemble a salamander. Within the past 10 years, databases for voter characterization as well as tools for precise map
                      drawing have made it possible to create congressional districts that favor the party responsible
                      for the creation of the districts. Redistricting is done in states where census data requires a change in the number of
                      delegates in the state, and the 2010 census triggered redistricting in a number of states.
                      Many of these redistricting efforts resulted in a shift in the political representation in the states.
                      <h2>Our Project</h2>
                      <p>
                        We have developed a system to create fairer congressional district boundaries without political influence.
                        Based on user-set weights on measures, this system will shift various precincts that make up congressional
                        districts and make new district boundaries. Additionally, the data for congressional district boundaries
                        are displayed to the user through graphs and charts. We hope to provide insight on better methods for creating
                        congressional districts.
                      </p>
                      <h2>Who are we?</h2>
                      <div class="team-description">
                      <img style="height:250px;" src="./img/batbat.png"></img>
                      <!--  Image provided by wawa wiwa :) -->
                      <p>
                        We are team BATS. Bryan Liao and Alexander Lin as the front end developers, and Thomas Lai and Shaiv Patel as the back end developers.
                      </p>
                    </div>
            </p>
                </uib-tab>
            </uib-tabset>
        </div>
    <!-- /tabs-->
    </div>
</html>
