<!DOCTYPE html>
<html ng-app="App">
  <head>
    <title>${title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
    <script src="js/ui-leaflet.min.js"></script>
    <script src="node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script type="text/javascript" src="js/leaflet-sidebar.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/state.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.5.1/rzslider.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.5.1/rzslider.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/leaflet-sidebar.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <div id="loader">
    <img style="display:block; margin:0 auto;" src="img/hamster.gif">
</div>
  <div  class = "top-nav-bar">
    <h3>Welcome {{userInfo.username}}</h3>
    <div ng-controller="ModalCtrl" class="modal-position">
      <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
        <h3 class="modal-title" id="modal-title">${register}</h3>
        </div>
        <form novalidate class="simple-form">
        <label>Name: <input type="text" ng-model="user.name" /></label><br />
        <label>Username: <input type="text" ng-model="user.userName" /></label><br />
        <label>Password: <input type="password" ng-model="user.password" /></label><br />
        <label>E-mail: <input type="email" required ng-model="user.email" /></label><br />
        </form>
        <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="register()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </script>
      <script type="text/ng-template" id="loginModal.html">
        <div class="modal-header">
        <h3 class="modal-title" id="modal-title">${login}</h3>
        </div>
        <form novalidate class="simple-form">
        <label>${clientname}: <input type="text" ng-model="user.userName" /></label><br />
        <label>${password}: <input type="password" ng-model="user.password" /></label><br />
        </form>
        <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </script>
      <!-- Back to the base code -->
      <button type="button" class="btn btn-default" ng-click="open()">Register</button>
      <button type="button" class="btn btn-default" ng-click="openlogin()">Login</button>
      <button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
    </div>
    <uib-tabset active="active">
      <uib-tab index="0" heading="State">
        <div class="bigblock">
          <div ng-controller="mapController" class="map-section">
            <h1 class="map-header">Massachusetts</h1>
            <div ng-controller="yearController">
              <rzslider rz-slider-model="yearChoices.value" rz-slider-options="yearChoices.options"></rzslider>
            </div>
            <leaflet id="map" name="map" center="MA" defaults="defaults" geojson="ma_precincts" width="100%" height="480px" layers="layers">
              <div ng-controller="mapSidebarController" id="sidebar" class="sidebar collapsed">
                <div class="sidebar-tabs">
                  <ul role="tablist">
                    <li><a href="#goodness" role="tab"><i class="fa fa-bars"></i>G</a></li>
                    <li><a href="#locked" role="tab"><i class="fa fa-user"></i>P</a></li>
                    <li><a href="#apply" role="tab"><i class="fa fa-user"></i>A</a></li>
                    <li><a href="#ex_import" role="tab"><i class="fa fa-user"></i>E</a></li>
                  </ul>
                </div>
                <div class="sidebar-content">
                  <div class="sidebar-pane" id="goodness">
                    <h1 class="sidebar-header">${goodness}<span class="sidebar-close"><i class="fa fa-caret-left"></i>G</span></h1>
                    <ul class="slider-list">
                      <li><span class = "bigger">${gm0}</span></br><rzslider rz-slider-model="compactnessRange.value" rz-slider-options="compactnessRange.options"></rzslider></li>
                      <li><span class = "bigger">${gm1}</span></br><rzslider rz-slider-model="geographicRange.value" rz-slider-options="geographicRange.options"></rzslider></li>
                      <li><span class = "bigger">${gm2}</span></br><rzslider rz-slider-model="partisanFairnessRange.value" rz-slider-options="partisanFairnessRange.options"></rzslider></li>
                      <li><span class = "bigger">${gm3}</span></br><rzslider rz-slider-model="socioeconomicRange.value" rz-slider-options="socioeconomicRange.options"></rzslider></li>
                    </ul>
                  </div>
                  <div class="sidebar-pane" id="locked">
                    <h1 class="sidebar-header">Additional Options<span class="sidebar-close"><i class="fa fa-caret-left"></i>L</span></h1>
                    <button class = "btn1" >Enter Locked District Mode.</button>
                    <button class = "btn1" >Toggle heatmap</button>
                    <button class = "btn1" >Change Analysis</button>
                  </div>
                  <div class="sidebar-pane" id="apply">
                    <h1 class="sidebar-header">Apply/Reset Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i>A</span></h1>
                    <button class = "btn1" ng-click='apply()'>${apply}</button>
                    <button class = "btn1" ng-click='reset()'>RESET</button>
                  </div>
                  <div class="sidebar-pane" id="ex_import">
                    <h1 class="sidebar-header">Save/Load data<span class="sidebar-close"><i class="fa fa-caret-left"></i>E</span></h1>
                    <button class = "btn1" >Export as Image</button>
                    <button class = "btn1" >Export as json</button>
                    <button class = "btn1" >Import as json</button>
                  </div>
                </div>
              </div>
            </leaflet>
          </div>
          <div>
<!--            <a ng-href="#!/compare"><button>Compare Data!</button> </a>-->
          </div>
          <label>Select a District: </label>
          <div ng-controller="congressDistricter">
          <select  ng-model="selected" ng-change="switchCd()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
            <h2>Congressional District {{selected}}</h2> <br/>
            <label>Population: {{cData.pop}}</label><br/>
           <h1>Political Data </h1><br/>
            <label>Democrat: {{cData.dem}}</label><br/>
            <label>Republican: {{cData.rep}}</label><br/>
            <label>Libertarian: {{cData.lib}}</label><br/>
            <label>Green: {{cData.gr}}</label><br/>
            <label>Other: {{cData.oth}}</label><br/>
           <h1>Racial Data</h1><br/>
            <label>Racial Percentage: {{cData.rp}}</label><br/>
            <label>Racial Composition: {{cData.rc}}</label><br/>
            
          </div>
         <div ng-app="data" ng-controller="dataController"  class="data-section">
           <h1>Statistics</h1>

            <div id=dataBlock>
                <canvas id="pie" class="chart chart-pie"
                  chart-data="socioeconomicPercentages" chart-labels="socioeconomicRanges" chart-options="options">
                </canvas>
              <canvas id="bar" class="chart chart-bar"
              chart-data="racialPercentage" chart-labels="racialComp" chart-series="series">
            </canvas>
          </div>
         </div>  
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Account" disable="userInfo.registered">
        <form>
          <label>Username: {{userInfo.username}}</label><br />
          <label>Change Name: <input type="text" ng-model="user.name"/></label><br />
          <label>Confirm Password: <input type="password" ng-model="user.oldPassword" /></label><br />
          <label>New Password: <input type="password" ng-model="user.newPassword" /></label><br />
          <button class="btn btn-warning" type="button" ng-click="changeInfo()">Apply</button>
        </form>
      </uib-tab>
      <uib-tab index="2" heading="About">
        <div>
          <h1>Congressional District Generation</h1>
          <h2>Background</h2>
          <p>A Gerrymander is a voting district that is designed to serve some political purpose.
            The name refers to both a salamander and Eldridge Gerry, whose newly created voting district about 200 years
            ago was said to resemble a salamander. Within the past 10 years, databases for voter characterization as well as tools for precise map
            drawing have made it possible to create congressional districts that favor the party responsible
            for the creation of the districts. Redistricting is done in states where census data requires a change in the number of
            delegates in the state, and the 2010 census triggered redistricting in a number of states.
            Many of these redistricting efforts resulted in a shift in the political representation in the states.
          <h2>Our Project</h2>
          <p>
            We have developed a system to create fairer congressional district boundaries without political influence.
            Based on user-set weights on measures, this system will shift various precincts that make up congressional
            districts and make new district boundaries. Additionally, the data for congressional district boundaries
            are displayed to the user through graphs and charts. We hope to provide insight on better methods for creating
            congressional districts.
          </p>
          <h2>Who are we?</h2>
          <div class="team-description">
            <img style="height:250px;" src="./img/batbat.png"></img>
            <!--  Image provided by wawa wiwa :) -->
            <p>
              We are team BATS. Bryan Liao and Alexander Lin as the front end developers, and Thomas Lai and Shaiv Patel as the back end developers.
            </p>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</html>