	html, body {
	font-family: "Lato", sans-serif;
	height:100%;
	}

	.top-nav-bar {
	padding-top: 1%;
	text-align: center;
	}

	.slidecontainer {
	margin: auto;
	padding-top: 30px;
	padding-left: 10%;
	align-content: center;
	width:100%;
	}

	.bigblock{
	width: 100%;
	padding: 2%;
	display: flex;
	background-color: whitesmoke;
	}

	/* The slider itself */
	.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	float: right;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	}

	.dropdown {
	position: relative;
	display: inline-block;
	}

	.dropdownmenu {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	}

	.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	}

	.dropdown a:hover {background-color: #ddd}

	/* Style the tab content */
	.tabcontent{
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	}

	/* Style the tab */
	.tab {
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 30%;
	height: 300px;
	}

	.img{
	max-width: 500px;
	max-height:50%;
	}

	.slideRange{
	width:100%;
	}

	.range {
	position: relative;
	width: 550px;
	height: 5px;
	}

	.range input {
	width: 100%;
	position: absolute;
	top: 2px;
	height: 0;
	-webkit-appearance: none;
	}
	.range input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	margin: -8px 0  0;
	border-radius: 50%;
	background: #37adbf;
	cursor: pointer;
	border: 0 !important;
	}
	.range input::-moz-range-thumb {
	width: 18px;
	height: 18px;
	margin: -8px 0  0;
	border-radius: 50%;
	background: #37adbf;
	cursor: pointer;
	border: 0 !important;
	}
	.range input::-ms-thumb {
	width: 18px;
	height: 18px;
	margin: -8px 0  0;
	border-radius: 50%;
	background: #37adbf;
	cursor: pointer;
	border: 0 !important;
	}
	.range input::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #b2b2b2;
	}
	.range input::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #b2b2b2;
	}
	.range input::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #b2b2b2;
	}
	.range input:focus {
	background: none;
	outline: none;
	}
	.range input::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
	}

	.range-labels {
	margin: 18px -41px 0;
	padding: 0;
	list-style: none;
	}
	.range-labels li {
	position: relative;
	float: left;
	width: 90.25px;
	text-align: center;
	color: #b2b2b2;
	font-size: 14px;
	cursor: pointer;
	}
	.range-labels li::before {
	position: absolute;
	top: -25px;
	right: 0;
	left: 0;
	content: "";
	margin: 0 auto;
	width: 9px;
	height: 9px;
	background: #b2b2b2;
	border-radius: 50%;
	}
	.range-labels .active {
	color: #37adbf;
	}
	.range-labels .selected::before {
	background: #37adbf;
	}
	.range-labels .active.selected::before {
	display: none;
	}

	#map {
	top:10px;
	bottom:0;
	height: 500px;
	margin: 0 auto;
	width:100%;
	display: inline-block;
	}

	.btn1 {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	margin-top:5%;
	}

	.btn1:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
	}

	.bigger {
	font-size: 20px;
	}

	.slider-list{
	list-style-type:none;
	}

/* Modal form header */

	.modal-header{
		background-color: #81BEF7;
	}

	/* Modal Div */

	.modal-position{
		float: right;
		padding-right: 5%;
	}

	/* Modal Form itself */

	.simple-form{
		padding-top: 1%;
		padding-bottom: 1%;
		text-align: center;
		display: block;
	}

.map-section{
	width: 60%;
	display: inline-block;
}

.data-section{
	margin-left: 5%;
	width: 40%;
}

.map-header{
	text-align: center;
}

.data-header{
	text-align: center;
}

.team-description{
	display: flex;
}
